.page {
	position: relative;
	display: flex;
	flex-direction: column;
}

.main {
	flex: 1;
	position: relative;
}

.sidebar {
	background-color: #1d2e4d;
	z-index: 100;
	position: fixed !important;
	width: 100%;
}

.top-row {
	background-color: #f7f7f7;
	border-bottom: 1px solid #d6d5d5;
	justify-content: flex-end;
	height: 3.5rem;
	display: flex;
	align-items: center;

	& ::deep a, & .btn-link {
		white-space: nowrap;
		margin-left: 1.5rem;
	}

	& a:first-child {
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

@media (max-width: 640.98px) {
	.top-row {
		&:not(.auth) {
			display: none;
		}

		&.auth {
			justify-content: space-between;
		}

		& a, & .btn-link {
			margin-left: 0;
		}
	}
}

@media (min-width: 641px) {
	.sidebar {
		width: 100vw;
		position: sticky;
		top: 0;
	}

	.top-row {
		position: sticky;
		top: 0;
		z-index: 1;
	}

	.main > div {
		padding: 0 !important;
	}
}
