.navbar-toggler {
	background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
	display: none;
	height: 3.5rem;
	background-color: #1d2e4d;
	flex-direction: row-reverse;
}

.navbar-brand {
	font-size: 1.1rem;
}

.oi {
	width: 2rem;
	font-size: 1.1rem;
	vertical-align: text-top;
	top: -2px;
}

.nav-item {
	font-size: 0.9rem;
	padding: 1rem 1rem;

	& ::deep a {
		background-color: rgba(255,255,255,0.25);
		color: white;
		border-radius: 4px;
		height: 3rem;
		display: flex;
		align-items: center;
		line-height: 3rem;

		&:hover {
			background-color: rgba(255,255,255,0.1);
			color: white;
		}
	}
}

@media (max-width: 640.98px) {
	.top-row {
		display: flex;
	}

	.nav.flex-row {
		flex-direction: column !important;
	}

	.nav-item {
		padding-bottom: 0;

		&:first-of-type {
			padding-top: 1rem;
		}

		&:last-of-type {
			padding-bottom: 1rem;
		}
	}
}

@media (min-width: 641px) {
	.navbar-toggler {
		display: none;
	}

	.collapse {
		display: block;
	}
}
