@page "/game-development"

<ProjectCard ProjectTitle="Test Project" ProjectDescription="Test description lorem ipsum dat brink desu neiwa jo totem du un fonts.">
	<a class="link-item" href="https://www.github.com/FedoraGameDev"><img class="link-image" src="https://cdn.iconscout.com/icon/free/png-256/github-3215409-2673827.png" /></a>
	<a class="link-item" href="https://www.github.com/FedoraGameDev"><img class="link-image" src="https://cdn.iconscout.com/icon/free/png-256/github-3215409-2673827.png" /></a>
</ProjectCard>

<ProjectCard ProjectTitle="Simple Package" ProjectDescription="Test description lorem ipsum dat brink desu neiwa jo totem du un fonts.">
	<a class="link-item" href="https://www.github.com/FedoraGameDev"><img class="link-image" src="https://cdn.iconscout.com/icon/free/png-256/github-3215409-2673827.png" /></a>
	<a class="link-item" href="https://www.github.com/FedoraGameDev"><img class="link-image" src="https://cdn.iconscout.com/icon/free/png-256/github-3215409-2673827.png" /></a>
</ProjectCard>

@code {

}
