.cover-image {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
}

.image-filter {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 64, 0.25);
	padding-top: 2em;
}

@media (max-width: 420px) {
	.image-filter {
		padding-top: 1rem;
	}
}