<div class="project-card">
	<div class="project-title">
		<h1><span>@ProjectTitle</span></h1>
		<div class="project-links">
			@for (int i = 0; i < ProjectLinks.Count; i++)
			{
				<a class="link-item" href="@ProjectLinks[i]"><img class="link-image" src="https://cdn.iconscout.com/icon/free/png-256/github-3215409-2673827.png" /></a>
			}
		</div>
	</div>
	<div class="project-description">
		<h2>@ProjectDescription</h2>
	</div>
</div>

@code {
	[Parameter]
	public string ProjectTitle { get; set; }

	[Parameter]
	public string ProjectDescription { get; set; }

	[Parameter]
	public List<string> ProjectLinks { get; set; }
}
